# Django
*.pyc
__pycache__/
*.pyo
*.pyd
db.sqlite3
migrations/

# Virtual environment
venv/
env/

# Environment variables
.env
.env.local
.env.prod

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Temporary files
temp/
tmp/
